#wrapTheWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}
#gameWrap {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
#gameWrap div{
  width: 97px;
  height: 97px;
  border: 1px solid black;
  border-radius: 3px;
}
.left-down {
  background-image: url('public/images/down-left.svg');
}
.right-down {
  background-image: url('public/images/right-down.svg');
}
.up-down {
  background-image: url('public/images/up-down.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.right-left{
  background-image: url('public/images/right-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.left-up {
  background-image: url('public/images/up-left.svg');
}
.right-up {
  background-image: url('public/images/up-right.svg');
}
.up-right-down-left {
  background-image: url('public/images/up-right-down-left.svg');
}
.inlet {

}
.outlet {

}
